<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ section.settings.card_image | image_url: width: 500 }}" alt="{{section.settings.card_image.alt}}">
  <div class="card-body">
    <h5 class="card-title">{{section.settings.card_title}}</h5>
    <p class="card-text">{{section.settings.card_text}}</p>
    <a href="{{section.settings.button_link}}" class="btn btn-primary">{{section.settings.button_text}}</a>
  </div>
</div>
<style>
  .card .btn {
    background-color : {{ section.settings.btn-color}}
  }
</style>  
{% schema %}
{
    "name": "Bootstrap Card",
    "tag": "section",
    "settings": [
        {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
            "type": "color",
            "id": "btn-color",
            "label": "Button Color",
            "default": "#59756F"
        },
        {
            "type": "text",
            "id": "card_title",
            "label": "Title",
            "default": "card title"
        },
        {
            "type": "text",
            "id": "card_text",
            "label": "Message",
            "default": "Type Message Here"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Click Me"
        }
    ],
    "presets": [{
        "name": "Bootstrap Card",
        "category": "Custom"
    }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}